
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    display: grid;
    grid-template-areas: 
    "burger logo"
    "links links";
    overflow: hidden;
    font-size: 2rem;
    background-color: white;
    text-align: left;
    position: sticky;
    top: 0;
    padding: 10px;
    font-size: 15px;
}

nav ul {
    display: none;
}

.toggle {
    display: block !important;
}




nav ul, nav ul a {
    list-style-type: none;
    text-decoration: none;
    color: black;
/* justify-content: space-around; */
}

.burger {
    grid-area: burger;
    font-size: 25px;
    margin-left: 10px;
}

.bag_container {
    margin-top: 10px;
    font-size: 5px;
    position: fixed;
    top: 0;
    right: 0;
    background: blue;
    padding: 10px;
}

.bag_container i {
    font-size: 25px;
}

.bag_container p {
    display: inline;
    font-size: 15px;
    margin-left: 5px;
}


.logo {
    grid-area: logo;
}

.clothing {
    height: 200vh;
}

nav ul {
    grid-area: links;
}
    
nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    border-bottom: 1px solid #f1f1f1;

}

nav ul li:hover, nav ul a:hover {
    color: black;
    text-decoration: none;
    flex: auto;
}

h1 {
    height: 200vh;
}

.img {
    height: 285px;
    width: 285px;
}

.products {
    margin-top: 20px;
    display: grid;
    grid-gap: .5rem;
    text-align: center;
}

.a__product, .a__product img {
    margin: 0 auto;
}

/*
  Clothing.css
*/

.clothing__aside {
    display: none;
}

.item {
    cursor: pointer;
}


@media all and (min-width: 480px) {

    .products {
        margin-top: 20px;
        display: grid;
        grid-gap: 2rem;
    }

    .a__product {
        margin-bottom: 20px;
    }
    
}

@media all and (min-width: 768px) {

    nav {

    }
    nav ul {
    
    }
    nav ul li {

    }

    .products {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2rem;
    }

    .a__product {
        margin-bottom: 20px;
    }
    
}

@media all and (min-width: 1024px) {
    
    .products {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1rem;
    }

    .a__product {
        margin-bottom: 20px;
    }
}

@media all and (min-width: 1100px) {
    .burger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        border-bottom: none;
        background: red;
    }

    nav ul {
        display: flex;
        background: yellow;
        margin-right: 50px;
    }

    nav ul li {
        border-bottom: none;
        margin-right: 20px;
        border-bottom:3px solid transparent;
    }

    nav ul li:hover {
        border-bottom:3px solid black;
    }

    .zig {
        display: flex;
    }
    
    .products {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 2rem;
    }

    .a__product {
        margin-bottom: 20px;
    }

    .bag {
        font-size: 40px;

    }
    
}





