
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    overflow-x: hidden;
}

h5 {
    margin-bottom: 0;
}

.an_item {
    text-decoration: none;
    color: black;
}

.an_item:hover {
    text-decoration: none;
    color: black;
}


.brand_name:hover {
    color: #E10098;
}



.toggle {
    display: block !important;
}




.burger {
    grid-area: burger;
    font-size: 15px;
    margin-left: 10px;
}


.bag_container i {

}

.bag_container p {

}




.logo {
    grid-area: logo;
}

.clothing {
    height: 200vh;
}




h1 {
    height: 200vh;
}

.cart {
    text-decoration: none;
    color: black;
    background: red; 
}

.cart:hover {
    color: pink;
}


.img {
    max-width: 200px;
    height: auto;
}

.products {
    margin-top: 20px;
    display: grid;
    grid-gap: .5rem;
    text-align: center;
}

.a__product, .a__product img {
    margin: 0 auto;
}

/*
  Clothing.css
*/

.clothing__aside {
    display: none;
}

.item {
    cursor: pointer;
}


@media all and (min-width: 480px) {

    .products {
        margin-top: 20px;
        display: grid;
        grid-gap: 2rem;
    }

    .a__product {
        margin-bottom: 20px;
    }
    
}

@media all and (min-width: 768px) {


    .products {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2rem;
    }

    .a__product {
        margin-bottom: 20px;
    }
    
}

@media all and (min-width: 1024px) {

    .burger {
        display: none;
    }
    
    .products {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1rem;
    }

    .a__product {
        margin-bottom: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;

    }

    nav ul {
        display: flex;
        flex-basis: unset;
        order: 2;
    }

    nav ul li {
        border-bottom: none;
        margin-right: 20px;
        border-bottom:3px solid transparent;
    }

    nav ul li:hover {
        border-bottom:3px solid black;
    }
}

@media all and (min-width: 1400px) {
    .burger {
        display: none;
    }

    nav ul {
        display: block;
    }



    .zig {
        display: flex;
    }
    
    .products {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 2rem;
    }

    .a__product {
        margin-bottom: 20px;
    }

    .bag {
        font-size: 40px;

    }
    
}



/*
    Navbar    
*/



/*

.bag_container p {
    display: inline;
    font-size: 15px;
    margin-left: 5px;
*/

/*

.bag_container {
    margin-top: 10px;
    font-size: 5px;
    position: fixed;
    top: 0;
    right: 20px;
    padding: 5px;
    width: 100px;
}
*/